.Rproj.user
.Rhistory
.RData
.Ruserdata
reef_fisheries_model.Rproj
campbelletal2020_omnivores.R
campbelletal2020_omnivores.csv
campbelletal2020_omnivores.xlsx
indonesia_uvc_fish.csv
macneil_2015_func_groups.xls
mean-fig4b_Campbell etal 2020.csv
model_params.xlsx
new_species_key.csv
uvc_key.csv